.bg-color {
  background-color: #fbd062;
}
.navbar {
  font-weight: 500;
}

.primary-btn {
  background-color: #111430;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.primary-btn:focus {
  outline: none;
}
.primary-btn:hover {
  background-color: #fbd062;
  color: #111430;
  border: 1px solid #111430;
}

.sub-color {
  color: #7ab259;
}

a {
  text-decoration: none;
}
